*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: monospace;
      background-color: #333;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 5px;
}
    
.container {
      background: white;
      border-radius: 20px;
      padding: 40px;
      box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
      max-width: 900px;
      width: 100%;
}
    
h1 {
      text-align: center;
      color:aliceblue;
      margin-bottom: 10px;
      font-size: 2em;
      text-decoration: solid;
      text-transform: uppercase;
}
.stats{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.statbox {
    background-color: gray;
    color: white;
    padding: 13px 18px;
    border-radius: 8px;
    text-align: center;
    flex:1;
}
.stat-label {
    margin-bottom: 12px;
    font-size: 12pt;
    text-transform: uppercase;
}
.stat-value {
    font-weight: bold;
    font-size: 16pt;
}
.seesaw-container {
    width: 100%;
    position: relative;
    padding: 0;
    max-width:900px;
    height: 500px;
    overflow: hidden;
}
.seesaw-ground {
    position: absolute;
    width: 100%;
    height: 50px;
    left:0;
    right:0;
    bottom: 0;
    background-color: #4e4d4d;
}

.seesaw-pivot {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #333;
    z-index: 5;
}
.seesaw-plank {
    position:absolute;
    top:50%;
    left: 50%;
    width: 600px;
    height: 30px;
    background-color: rgb(88, 33, 33);
    border: #460505 solid 2px;
    z-index: 10;
    transform: translate(-50%, -50%);
    transform-origin:center center;
}
.seesaw-clickable {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 600px;
    height: 100%;
    transform-origin: center center;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 20;
    cursor: pointer;
}
